body{
    font-family: "Helvetica Neue", Helvetica, Roboto;
}

a:hover {
    color: inherit;
}

.border-bottom-dashed {
    border-bottom: 1px dashed #dee2e6;
}

.container {
    max-width: 1083px;
}

.dropdown-content {
    display: none;
    z-index: 1;
    min-width: 15em;
}

.dropdown {
    &>span:active .dropdown-content {display: block;}
    &:hover .dropdown-content {display: block;}
    .dropdown-content {
        a:hover, a.active {
            color: map_get($colors, 'blue1');
        }
    }
}

.border-title-black1 {
    border-bottom: 2px solid map_get($colors, 'black1');
}

.border-title-blue4 {
    border-bottom: 2px solid map_get($colors, 'blue4');
}

.sidebar-title {
    span:after, a:after {
        border-style: solid;
        border-width: 29px 0 0 21px;
        border-color: #fff transparent transparent transparent;
        position: absolute;
        top: -1px;
        right: -1px;
        content: '';
    }
}

.view-more {
    width: max-content;
    color: map_get($colors, 'black1');
    &:hover {
        color: white;
        background: map_get($colors, 'red2');
    }
}

.text-title {
    font-size: 22px;
}

.post-content {
    line-height: 1.8rem;
    img, figure {
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
    }

    h2, .h2 {
        font-size: 1.5rem;
    }

    h3, .h3 {
        font-size: 1.1rem;
    }

    a {
        color: map_get($colors, 'blue1');
    }
}

.game-bai {
    & > h2 {
        &:before, &:after {
            content: '';
            width: 11px;
            height: 11px;
            position: absolute;
            left: 0;
            border-radius: 50%;
        }
        &:before {
            z-index: 1;
            opacity: .8;
            top: 4px;
            background-color: #ff2453;
        }
        &:after {
            z-index: 0;
            top: 11px;
            background-color: #be2edd;
        }
    }
    .medal {
        top: -20px;
        z-index: 2;
        left: 20px;
        background: #ff2453;
        &:before {
            content: '';
            display: block;
            width: 25px;
            height: 12px;
            background-color: rgba(0,0,0,.1);
            top: 0;
            left: 0;
            right: 0;
            border-radius: 5px 5px 0 0;
            z-index: 1;
        }
    }
    .game-bai-thumb img {
        max-width: 100px;
        height: auto;
    }
}

.related-post {
    .related-post-title {
        &:before {
            content: "";
            width: 100%;
            height: 0;
            border-bottom: 2px solid #eee;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -1px;
        }
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
}
.right-0{
    right: 0;
}
.left-0 {
    left: 0;
}
.top-0{
    top:0;
}
.bottom-0 {
    bottom: 0;
}

.category-load-more {
    a:before {
        right: 100%;
        margin-right: 20px;
    }
    a:after {
        left: 100%;
        margin-left: 20px;
    }
    a:before, a:after {
        content: "";
        height: 1px;
        background: #eee;
        width: 1000px;
        margin-top: auto;
        margin-bottom: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        pointer-events: none;
    }
}
.ratio{
    position: relative;
    &:before{
        padding-top: var(--bs-aspect-ratio, 100%);
        content: '';
        display: block;
    }
    > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.social-footer {
    a {
        width: 38px;
        height: 38px;
        line-height: 38px;
    }
}

.box-news-blue4 {
    .category-badge:hover {
        background: map_get($colors, 'blue4');
    }
    .box-news-title:hover {
        color: map_get($colors, 'blue4');
    }
}

.post-content{
    img{
        max-width: 100%;
        object-fit: scale-down;
    }
}